<img class="profile-image" src="{{asset "images/profile-image.jpg"}}" alt="" />
<p class="name">by <strong>Kerr Marín Miller</strong></p>
<p class="address">London, England</p>
<p class="link"><a href="http://www.kerrmarin.com" title="Kerr Marín Miller - Developer">kerrmarin.com</a></p>

<ul class="social">
  <li><a class="icon-twitter" href="http://twitter.com/kerrmarin" title="Follow me on Twitter"></a></li>
  <li><a class="icon-linkedin" href="https://uk.linkedin.com/pub/kerr-marin-miller/41/a75/854" title="Connect on LinkedIn"></a></li>
  <li><a class="icon-github" href="https://github.com/kerrmarin/" title="View my work on Github"></a></li>
</ul>
