<a class="icon-rss" href="{{@blog.url}}/rss/" title="RSS Feed"></a>
<p>All content copyright <a href="http://kerrmarin.com" title="Kerr Marín Miller - Developer">Kerr Marín Miller</a> &copy; 2015. All rights reserved.</p>
