<a class="btn" href="{{@blog.url}}" title="Back to homepage">&laquo; Home</a>
<img class="profile-image" src="{{asset "img/profile-image.jpg"}}" alt="" />
<p class="name">by <strong>Kerr Marín Miller</strong></p>
<p class="address">London, England</p>
<p class="link"><a href="http://www.kerrmarin.com" title="Kerr Marín Miller - Developer">kerrmarin.com</a></p>

<ul class="social">
  <li><a class="icon-twitter" href="http://twitter.com/kerrmarin" title="Follow me on Twitter"></a></li>
</ul>
